# With uv :
{
  "mcpServers": {
    "bitcoin_mcp_server": {
      "command": "absolute/path/to/uv.exe",
      "args": [
        "run",
        "--frozen",
        "--with",
        "mcp[cli]",
        "mcp",
        "run",
        "absolute/path/to/bitcoin_mcp/src/main.py"
      ]
    }
  }
}


# With python
{
  "mcpServers": {
    "bitcoin-mcp-server": {
      "command": "absolute/path/to/bitcoin_mcp/.venv/Scripts/python.exe",
      "args": [
        "absolute/path/to/bitcoin_mcp/src/main.py"
      ]
    }
  }
}